html{
  width:100%;
}
.shown{
  display: block;
  text-align: center;
  font-size:6px;
  padding:0;
  margin:0;
  line-height: 1px;
  color:#495bbd;
}
body {
  font-family: "PT Sans", Arial, sans-serif;
  color:#f7f7f7;
  background-color:#495bbd;
  background-color:#ffffff;
}
#terms small{
  display: block;
}

#terms big{
  padding-top:20px;
  display: block;
}

h3{
  margin-top:10px;
}

h2{
  margin-top:0px;
}
  .videoContainerover 
{
   padding:50px;
   padding-top:90px;
}
/*.videoContainerFULLSCREEN video 
{
   width: 100%;
   height: 100%;
}*/
.whatis{
  position: absolute;
  margin-top:500px;
}
.nav > li > a{
  padding: 10px 20px;
}
.navbar-default{
  background-color: #495bbd;
  border:1px solid rgba(255,255,255,0.1);
  font-size: 18px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background-color: #495bbd;
}
.navbar-default .navbar-toggle{
  border-color:transparent;
}
.navbar-default .navbar-nav > li > a{
  padding-top: 21px;
  padding-bottom: 0px;
}
.navbar-default .navbar-nav > li > a{
  color:#ffffff;
}
.navbar-default .navbar-nav > li > a:focus{
  color:#ffffff;
}
.navbar-default .navbar-nav > li > a:hover{
  color:#eeeeee;
}
.navbar-default .navbar-toggle .icon-bar{
  background-color:#ffffff;
}
.navbar-default .navbar-toggle .icon-bar:hover{
  color:#495AC0;
}
h1{
  font-weight: 700;
}

.example{
  margin-top:20px;
}
.white{
  background-color:#ffffff;
  padding:20px;
  padding-bottom:100px;
  color:#28336e;
}
.blue{
  background-color:#495bbd;
}
.strong-text{
  font-weight: 700;
}
p{
  font-size:18px;
  text-align:left;
  color:#28336e;
  padding:0;
  margin:0;
}
ol li{
  font-size: 18px;
  margin:10px;
}
ul li{
  font-size: 18px;
  margin:10px;
}
.green{
  color:rgb(44, 162, 94)
}
.first-bubble{
  background-color: rgba(255,255,255,.10);
  padding:10px 20px;
  width:120px;
  border-radius: 20px 20px 20px 6px;
  margin-top:2px;
  font-size: 18px;
}
.second-bubble{
  background-color: rgba(255,255,255,.10);
  padding:10px 20px;
  width:300px;
  border-radius: 20px 20px 20px 6px;
  margin-top:10px;
  font-size: 18px;
}
.carousel-control.right, .carousel-control.left{
  color:#495bbd;
}
.blue p{
  color:#eeeeee;
  padding:20px;
}

.bluelink{
  margin-top:15px;
  padding:10px;
  display: block;
  font-size: 14px;
  }
.bluelink a:visited{
    color: #eeeeee;
    text-decoration: underline;
    font-weight: normal;
}

a:hover{
  text-decoration: none;
}

.bluelink a:hover{
    color: #ffffff;
    text-decoration: underline;
    font-weight: normal;
}
.bluelink a:link {
    color: #eeeeee;
    text-decoration: underline;
    font-weight: normal;
  }
.blacktext {
  color:#28336e;
  padding:10px;
  font-size: 18px;
  font-family: "PT Sans", Arial, sans-serif;
}
.carousel-indicators li{
    border: 1px solid #495bbd;
    border-radius: 50%;
}
.carousel-indicators .active{
  width: 20px;
  height: 20px;
  margin: -2px;
  border: 5px solid #495bbd;
  border-radius: 50%;
}
.panel-body{
  color:#111111;
}
footer {
background: #ffffff;
margin:0;
padding:0;
padding-top: 15px;
position:absolute;
width:100%;
}
.brand-logo{
  border-top:1px solid #cccccc;
  padding-top:30px;
  margin-bottom:40px;
}
.brand-logo p {
color: #28336e;
font-size: 18px;
text-align: center;
}
.brand-logo-img{
  margin: auto;
  display: block;
}
.foot{
  background-color:#495bbd;
  padding:10px;
}
.foottag{
  text-align: center;
  color:#ffffff;
}
.foottag a{
  color:#ffffff;
}

.signup {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    align-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.28) 0px 2px 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    justify-content: center;
    line-height: 1.2em;
    max-width: 220px;
    max-height: 220px;
    text-align: center;
    text-overflow: ellipsis;
    background-color: rgb(255, 255, 255);
    color: rgb(73, 91, 189);
    min-height: 50px;
    border-color: transparent;
    border-radius: 100px;
    border-style: solid;
    border-width: 1px;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    transition: background-color 0.2s, border-color 0.2s, box-shadow 0.2s, color 0.2s, opacity 0.2s, transform 0.2s;
}

button:hover{
  text-decoration: none;
  }