@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?prtcj1');
  src:  url('fonts/icomoon.eot?prtcj1#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?prtcj1') format('truetype'),
    url('fonts/icomoon.woff?prtcj1') format('woff'),
    url('fonts/icomoon.svg?prtcj1#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-reorder:before {
  content: "\e900";
}
.icon-enlarge:before {
  content: "\eb46";
}
.icon-question:before {
  content: "\ed55";
}
.icon-rearrange:before {
  content: "\ee48";
}
.icon-plus:before {
  content: "\ed5b";
}
.icon-info2:before {
  content: "\ed64";
}
.icon-facebook:before {
  content: "\eeef";
}
.icon-github:before {
  content: "\ef0f";
}
.icon-pen:before {
  content: "\e927";
}
.icon-image:before {
  content: "\e93c";
}
.icon-media:before {
  content: "\e957";
}
.icon-envelop:before {
  content: "\ea30";
}
.icon-map:before {
  content: "\ea48";
}
.icon-bubbles:before {
  content: "\eac5";
}
.icon-remove-persona:before {
  content: "\eafa";
}
.icon-equalizer:before {
  content: "\eb5b";
}
.icon-power:before {
  content: "\ec4a";
}
.icon-vdots:before {
  content: "\ec5c";
}
.icon-hdots:before {
  content: "\ec6a";
}
.icon-link:before {
  content: "\ec99";
}
.icon-smile:before {
  content: "\ed04";
}
.icon-sad:before {
  content: "\ed08";
}
.icon-wink:before {
  content: "\ed0a";
}
.icon-angry:before {
  content: "\ed10";
}
.icon-shocked:before {
  content: "\ed14";
}
.icon-neutral:before {
  content: "\ed1a";
}
.icon-wondering:before {
  content: "\ed1e";
}
.icon-info:before {
  content: "\ed63";
}
.icon-cross:before {
  content: "\ed6d";
}
.icon-checkmark:before {
  content: "\ed71";
}
.icon-arrow-up:before {
  content: "\edb9";
}
.icon-arrow-right:before {
  content: "\edbd";
}
.icon-arrow-down:before {
  content: "\edc1";
}
.icon-arrow-left:before {
  content: "\edc5";
}
.icon-sarrow-up:before {
  content: "\edc7";
}
.icon-sarrow-right:before {
  content: "\edc8";
}
.icon-sarrow-down:before {
  content: "\edc9";
}
.icon-sarrow-left:before {
  content: "\edca";
}
.icon-text:before {
  content: "\ee92";
}
.icon-embed:before {
  content: "\eecd";
}
.icon-google:before {
  content: "\eee7";
}
.icon-twitter:before {
  content: "\eef5";
}
.icon-users:before {
  content: "\eaf8";
}
.icon-replayconv:before {
  content: "\eb2c";
}
.icon-exit:before {
  content: "\ed7b";
}
